<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="constr" connectionString="Data Source=DESKTOP-0P1DC60\SQLEXPRESS;Initial Catalog=MARKET;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	</connectionStrings>
</configuration>
